@font-face {
    font-family: Heebo;
    src: url(./fonts/Heebo-VariableFont_wght.ttf);}

:root {
                --pear: #cde43a ;
                --seagreen: #58bc82 ;
                --prussian: #13293d;
                --uranian: #c4e3fd;
                --dodger: #4895ef;
                --cobalt: #1446a0;
  
                font-family: Heebo;

                --standard-width: 65vw;
}


body {
  background-color: var(--cobalt)
}


.optimizer__title {
  text-align: center;
  color: white;
  padding-bottom: 1vw;
}

.optimizer__prompt {
  display: block;
  margin: 1vw;
  padding: 0;
  color: white;
  text-align: left;
  margin-left: 15vw;
  font-size: clamp(14px, 1.75vw, 28px);
  font-weight: 500;
}

#txtInput {
  display: block;
  width: var(--standard-width);
  height: 15em;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 1.5vw;
  font-size: clamp(12px, 1.3vw, 20px);
  resize: none;
  background-color: var(--pear);
  overflow: auto;
}

.optimizer__clickables {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap:1em;
  padding-top: clamp(10px, 1.5vw, 20px);
  width: var(--standard-width);
  border: darkblue;
  margin: auto;
}

.optimizer__choose-text {
  color: white;
  font-weight: 500;
  font-size: clamp(12px, 1.5vw, 24px);
}

.optimizer__choose-table {
  background-color: var(--pear);
  color: black;
  font-weight: 600;
  height: 2.2em;
  width: 15em;
  font-size: clamp(12px, 1.4vw, 24px);
}


#Translate_Button {
  height: 2.2em;
  width: 15em;
  font-size: clamp(12px, 1.4vw, 24px);
  font-weight: 600;
  background-color: var(--seagreen);
  color:white; 
}

#txtOutput {
    display: block;
    width: auto;
    height: 15em;
    background-color: var(--dodger);
    font-size: clamp(12px, 1.3vw, 20px);
    resize: none;
    overflow: auto;
    margin: auto;
    padding: 1em;
    overflow: auto;
    overflow-wrap: break-word;
}

#txtWarnings {
    display: block;
    background-color: var(--pear);
    width: 50vw;
    height: 2em;
    background-color: var(--uranian);
    font-size: clamp(12px, 1.3vw, 20px);
    resize: none;
    overflow: auto;
    margin: auto;
    color: red;
    padding: 1em;
}

.optimizer-output__background {
  background-color: var(--dodger);
  width: var(--standard-width);
  margin: auto;
}

.explanation__container {
  color: white;
  width: var(--standard-width);
  margin: auto;
}

.explanation__container > p {
  padding-left: 2vw;
}

.explanation__container > h4 {
  color: var(--pear);
}