@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

body {
    padding: 0px;
    margin: 0px;
}

.plots__container {
    font-family: Heebo;
    background-color:#c4e3fd;                
                --pear: #cde43a ;
                --seagreen: #58bc82 ;
                --prussian: #13293d;
                --uranian: #c4e3fd;
                --dodger: #4895ef;
                --cobalt: #1446a0;
    padding: 0px;
    margin: 0px;
}

.plots-plot__container {
    display: flex;
    flex-direction: column;
    width: clamp(200px, 30vw, 40vw);
    font-size: clamp(9px, 1vw, 2vw);
    padding: 0.5em;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
}

.plots-plot__image {
    width: clamp(200px, 30vw, 40vw);
    background-color: white;
    margin-top: 2rem;
}

.plots-plot__description {
    font-size: clamp(9px, 1vw, 2vw);
    width: clamp(200px, 28vw, 40vw);
    text-align: justify;
    background-color: var(--uranian);
    padding: 1vw;
    margin-bottom: 2rem;
}

.plots-logplots__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

.plots-RMSDplots__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.plots-RMSDplots__container > .plots-plot__container {
    width: clamp(200px, 45vw, 70vw);
}

.plots-RMSDplots__container .plots-plot__image {
    width: clamp(200px, 30vw, 50vw);
    margin-top: 1rem;
}

.plots-RMSDplots__container .plots-plot__description {
    margin-bottom: 0.5rem;
}

.plots-otherplots__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}


.plots-mutations__container {
    background-color: #cde43a;
    max-width: 85vw;
    margin: auto;
}

.plots-mutations__table {
    display: flex;
    width: 85vw;
    flex-wrap: wrap;
    justify-content: space-around;
}

.plots-mutations__plot {
    background-color: #cde43a;
    width: clamp(200px, 30vw, 70vw);
}

.plots-mutations__description {
    display: block;
    margin: auto;
    padding: 1em;
}

.plots-explanation__title {
    background-color: var(--pear);
    color: black;
    width: 85vw;
    margin: auto;
    padding: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 50% 20% / 10% 40%;
    margin-bottom: 0.25rem;
    text-indent: 1rem;
}

.plots-explanation__text {
    background-color: var(--cobalt);
    color: white;
    width: 85vw;
    margin: auto;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 10px 10px 50px 50px;
    text-align: justify;

}
