body {
    margin: 0px;
}

img {
    max-width: 100%;
}


a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 1em;
    padding: 5em;
    background-color: lightgray;
    
}

.portfolio__item {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio__desc {
    padding: 1.25em;
    text-align: center;
}

.portfolio__title {
    font-size: 1.5em;
    margin-top: 0;

}

.portfolio-lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    color: white;
    align-items: center;
    justify-content: center;
    display: none;
}

.portfolio-lightbox:target {
    display: flex;
}



.portfolio-lightbox__content {
    width: 75%;
    background: black;
    padding: 1em;
    position: relative;
    padding-top: 5vh;
}


.portfolio-lightbox__nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 1em;
    padding: 1em;
}


.last {
    width: 2em;
    height: 2em;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    font-size: 1.5rem;

}
.close {
    width: 2em;
    height: 2em;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    font-size: 1.5rem;
}
.next {
    width: 2em;
    height: 2em;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    font-size: 1.5rem;
}

.big {
    padding-top: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: clamp(200px, 55%, 800px);
}

.portfolio-lightbox__title {
    text-align: center;
}

.portfolio-lightbox__body {
    text-align: center;
    padding-bottom: 1em;
}
