
    /* Fonts added Heebo- variable; ProSans - normal, bold, italic*/
    @font-face {
        font-family: Heebo;
        src: url(./fonts/Heebo-VariableFont_wght.ttf);}
    

:root {
                
    font-family: Heebo;

    /* Defining the 2021 colors in the root as variables*/


    /* Downward definitions */

    --pear: #cde43a ;
    --seagreen: #58bc82 ;
    --prussian: #13293d;
    --uranian: #c4e3fd;
    --dodger: #4895ef;
    --cobalt: #1446a0;

}

body {
    margin:0;
}

img {
    max-width: 100%;
}


a {
    text-decoration: none;
    color:black;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

.portfolio__container {
    background-color: var(--uranian);
    padding: 1.5em;
}

.team-leaders {
    display: grid;
    grid-template-areas: 
    'a a a a a a'
    'b b b c c c';
    background-color: inherit;
    justify-content: space-around;
    padding-bottom: 0.5em;
}

@media only screen and (max-width: 600px) {
    .team-leaders{
        grid-template-areas:
        'a a'
        'b b'
        'c c';
        gap:0.5em;
    }
}


.team-leaders>h2 {
    grid-area: a;
    text-align: center;
}

.leader{
    text-align: center;
    background: inherit;
}

.leader > .portfolio__item {
    background-color: var(--dodger);
}

.Alya {
    grid-area: b;
}

.Luke {
    grid-area: c;
}

.team-groups {
    display: grid;
    justify-content: space-around;
    align-items: baseline;
    gap: 0.5em;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}



.portfolio__item {
    background: var(--dodger);
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio__desc {
    background-color: var(--dodger);
    padding: 1.25em;
    text-align: center;
}

.portfolio__title {
    background-color: var(--dodger);
    font-size: 1.5em;
    margin-top: 0;

}

.small {
    padding: 1em;
}



.portfolio-lightbox {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background: rgba(255,255,255,0.6);
align-items: center;
justify-content: center;
display: none;
}

.portfolio-lightbox:target {
display:flex;
}

.portfolio-lightbox__content {
    width: clamp(200px, 80vw, 80%);
    height: clamp(100px, 40vw, 80%);
    background: rgb(19,41,61);
    background: linear-gradient(90deg, rgba(19,41,61,1) 59%, rgba(205,228,58,1) 100%);  
    padding: 1vw;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(1, auto);
    justify-content: center;
    align-content: space-between;
    gap: 1vw;
    border-radius: 40px;
    color: white;
}


.portfolio-lightbox__nav{
    display: flex;
    position: absolute;
}


.last {
    color: black;
    width: 5vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    font-size: 5vw;
    position: relative;
    z-index: 150;
    right: 40vw;
}
.close {
    color: black;
    width: 4vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    font-size: 2.5vw;
    position: relative;
    left: 36vw;
    bottom: clamp(17vw, 17.5vw, 30px);
    z-index: 200;
}
.next {
    color: black;
    width: 5vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    font-size: 5vw;
    position: relative;
    z-index: 150;
    left: 40vw;
}

.big {
    grid-area: 1/ 2/ span 1/ span 1;
    margin-top: 3vw;
    margin-right: 7vw;
    margin-left: 0px;
    width: 25vw;
    height: 33vw;
}

.big-txt-wrap {
    grid-area: 1/1/span 1/span 1;
    display: flex;
    flex-direction: column;
    margin: 3vw;
    margin-left: 5vw;
}

.portfolio-lightbox__title {
    flex: span 1;
    text-align: left;
    font-size: 2vw;
}

.portfolio-lightbox__role {
    flex: span 1;
    text-align: left;
    font-size: 1.5vw;
}

.portfolio-lightbox__body {
    flex: span 6;
    text-align:justify;
    font-size: 1vw;
}
