body {
    margin:0;
}

img {
    max-width: 100%;
}


a {
    text-decoration: none;
    color:black;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

.portfolio__container {
    background-color: gray;
    padding: 1.5em;
}

.team-leaders {
    display: grid;
    grid-template-areas: 
    'a a a a a a'
    'b b b c c c';
    background-color:lightblue;
    justify-content: space-around;
    padding-bottom: 0.5em;
}

@media only screen and (max-width: 600px) {
    .team-leaders{
        grid-template-areas:
        'a a'
        'b b'
        'c c';
        gap:0.5em;
    }
}


.team-leaders>h2 {
    grid-area: a;
    text-align: center;
}

.leader{
    text-align: center;
    background: gray;
}

.leader > .portfolio__item {
    background: blue;
}

.Alya {
    grid-area: b;
}

.Luke {
    grid-area: c;
}

.team-groups {
    display: grid;
    justify-content: space-around;
    align-items: baseline;
    gap: 1em;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}



.portfolio__item {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio__desc {
    padding: 1.25em;
    text-align: center;
}

.portfolio__title {
    font-size: 1.5em;
    margin-top: 0;

}

.small {
    padding: 1em;
}



.portfolio-lightbox {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background: rgba(0,0,0,0.5);
color: white;
align-items: center;
justify-content: center;
display: none;
}

.portfolio-lightbox:target {
display:flex;
}

.portfolio-lightbox__content {
    width: 81%;
    height: auto;
    background: black;
    padding: 1vw;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    align-content: space-between;
    gap: 1vw;
}


.portfolio-lightbox__nav{
    grid-area: 1/1/span 1/span 3;
    display: flex;
    justify-content: space-around;
    justify-items:center;
    align-content: center;
    padding-top: 1vw;
}


.last {
    color: white;
    width: 5vw;
    height: 5vw;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    font-size: 3vw;

}
.close {
    color: white;
    width: 5vw;
    height: 5vw;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    font-size: 3vw;
}
.next {
    color: white;
    width: 5vw;
    height: 5vw;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    font-size: 3vw;
}

.big {
    grid-area: 2/ 1/ span 1/ span 1;
    margin-bottom: 1vh;
    display: block;
    width: 30vw;
    height: 40vw;
}

.big-txt-wrap {
    grid-area: 2/2/span 2/span 1;
    display: flex;
    flex-direction: column;
}

.portfolio-lightbox__title {
    flex: span 1;
    text-align: center;
    font-size: 2vw;
}

.portfolio-lightbox__body {
    flex: span 6;
    text-align:justify;
    font-size: 1vw;
}
