/* Fonts added Heebo- variable; */
@font-face {
    font-family: Heebo;
    src: url(./fonts/Heebo-VariableFont_wght.ttf);}

.team-page__wrapper {
    font-family: Heebo;
    --pear: #cde43a ;
    --seagreen: #58bc82 ;
    --prussian: #13293d;
    --uranian: #c4e3fd;
    --dodger: #4895ef;
    --cobalt: #1446a0;
    
    display: flex;
    gap: 2vw;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 60vw;
    width: 70vw;
    justify-content: center;
    margin: auto;
    border: solid 0.1rem black;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.team-member__small {
   border:dashed 0.08em blue; 
   width: 20vw;
   display: grid;
   justify-content: space-around;
}

.team-member__card {
    text-align: center;
    text-decoration: none;
}

.team-member__small-picture {
    width:15vw;
}

.team-member__small-desc {
    color: black;
    font-size: 2.5vw;
}

.team-member__lightbox{
    display: none;
}

.team-member__lightbox:target{
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display:flex;
    min-height: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.team-member__big{
    position: fixed;
    background: blue;
    height: 35vw;
    width: 60vw;
    display: grid;
    grid-template-columns: 15fr 5fr;
    gap: 2vw;
    padding-left: 2vw;
    /*padding-right: 0.5vw;*/
    border-radius: 20px;
}

.team-member__big-picture{
    width: 26.25vw;
    border-radius: 20px;
}
.team-member__textarea {
    font-size: 2vw;
}

.team-big__button{
    width: 2vw;
    font-size: 3vw;
    position: relative;
    color: red;
    z-index: 10;
    text-decoration: none;
    font-weight: 900;
}

.team-big__button-last{
    left: -38vw;
    font-size: 6vw;
}

.team-big__button-next{
    right: -38vw;
    font-size: 6vw;
}

.team-big__button-close{
    right: -33vw;
    position: relative;
    top: -16vw;
    font-size: 4vw;
    font-weight: 300;
}
